---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
		title: "Astro",
	},
	{
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
		title: "Tailwind CSS",
	},
	{
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
		title: "Markdown",
	},
	{
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
		title: "MDX",
	},
	{
		desc: "Generating png Open Graph images for blog posts.",
		href: "https://github.com/vercel/satori",
		title: "Satori",
	},
	{
		desc: "A fully static search library.",
		href: "https://pagefind.app/",
		title: "Pagefind",
	},
	{
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
		title: "Astro Icon",
	},
	{
		desc: "Highly customisable source code & syntax highlighter",
		href: "https://expressive-code.com/",
		title: "Expressive Code",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Proyecto Lengua y Literatura "IAs"</h1>
		<p class="mb-4">
			El ser humano, a lo largo de su historia ha intentado superarse a si mismo realizando acciones cotidianas de forma más fácil, rápida y eficaz, desde el invento de la rueda hasta la creación de sistemas complejos o inteligencias artificiales. 
En la siguiente monografía abordaremos este ultimo tema. Las inteligencias artificiales, centrándonos en su uso en el campo educativo, tanto para los maestros como para los alumnos. 
Las Inteligencias Artificiales han revolucionado diversos campos, y la educación no es una excepción. Durante los últimos años, el mejoramiento de estas IAs fue rotundo y notorio. Lograron alcanzar resultados muy cercanos a los que nos puede entregar el ser humano. Esto repercutió mucho en la educación. 
Los maestros lograron crear actividades, exámenes o corregir ejercicios ayudándose de estos recursos computacionales, y los alumnos a menudo utilizan estos llamados “chats” para resolver, entender o corregir conceptos. La aplicación de la IA en la educación puede ser extensa, podía nombrar millones de ejemplos en los que un alumno puede utilizar una inteligencia artificial en la escuela, por el contrario, los invito a analizar el punto de vista de un profesor. 

		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
